.header__link-wrapper {
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header__link-wrapper {
    width: 62px;
  }
}
