.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 360px;
  z-index: 1;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    padding: 16px 10px 0;
    font-size: 14px;
    max-width: 288px;
  }
}
