.cover {
  padding: 46px 0;
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 44px 0;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    padding: 32px 0;
  }
}
